

<% the_id = params["id"] %>

<% the_book = Book.read(the_id) %>

<table border="5" style="width:500px">
<head>
<tr>
  <td><b>Title</b></td>
  <td><%= the_book["title"] %></td>
</tr>

<tr>
  <td><b>Price</b></td>
  <td><%= the_book["price"] %></td>
</tr>

<tr>
  <td><b>Average rating </b></td>
  		<td>
  						<% review = Review.find_by("title" => the_book["title"])%>

					<% avg = Review.where("title" => the_book["title"]).average("rating")%>

				<% if review.present? %> 
							<% if avg.blank? %> 
								<i>Not yet rated </i>
							<% else %>
								<%= avg.round(2) %> 
									
							<%end%>
				<% else %>
					Not rated
  				<%end%>
	  	</td>

</tr>
</table>
</head>

<h4> Reviews: </h4>	

	<% if review.present? %>
	<ul>
  		<% reviews = Review.where("title" => the_book["title"]) %>
	      <% reviews.each do |review| %>
    		  <li><%= review.comment %></li>
        <% end %>
  <% else %>
		No reviews
  </ul>
  <% end %>


<p> 

<%=link_to "Return to Main menu", "/books" %>
</p>