

<% the_id = params["id"] %>

<% the_book = Read.read(the_id) %>





<table border="5" style="width:500px">
<head>
<tr>
  <td><b>Title</b></td>
  <td><%= the_book["title"] %></td>
</tr>

<tr>
  <td><b>Price</b></td>
  <td><%= the_book["price"] %></td>
</tr>

<tr>
  <td><b>Average rating </b></td>
  <td><%= the_book["averagerating"] %></td>

</tr>
</table>
</head>

<h4> Reviews: </h4>
<ul> <%= the_book["review1"] %> </ul>
<ul> <%= the_book["review2"] %> </ul>
<ul> <%= the_book["review3"] %> </ul>
<ul> <%= the_book["review4"] %></ul>

<p> 

<%=link_to "Return to Main menu", "/books" %>
</p>